// @use '../abstracts';

@mixin burgerBtn {
    position: absolute;
    content: '';
    right: 0;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
}

@mixin exitBtn {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #fff;
    top: 50%;
    border-radius: 2px;
    transition: box-shadow .3s;
}