// colors
$primary-color-3: #000308;
$primary-color-5: #040b15;
$primary-color-7: #0e1217;
$primary-color-8: #101318;
$primary-color-10: #06162d;
$primary-color-11: #141a22;
$primary-color-15: #132239;
$primary-color-18: #222d39;
$primary-color-20: #012965;
$primary-color: #408cff;
$primary-color-40: #0352c9;
$primary-color-63: #408cff;
$primary-color-80: #a5c4f3;

$error-color-dark: #560F24;
$error-color-light: #FF6795;

$color-white: #fff;

$line-gradient: linear-gradient(
	90deg,
	$primary-color-8 -2.57%,
	rgba(16, 19, 24, 0.36) 20.94%,
	$primary-color 48.87%,
	$primary-color 70.32%,
	rgba(16, 19, 24, 0.79) 83.44%,
	$primary-color-8 100%
);

