@use '../base';
@use '../abstracts';

.section__reviews {
	padding: base.$section-padding-small;
	margin-bottom: 3rem;
}

.slider {
	// position: relative;
	// margin-bottom: 3rem;
	// display: grid;
	// grid-template-columns: repeat(1,1fr);
	// grid-template-rows: repeat(1,1fr);
	// overflow: hidden;
	// max-width: 80rem;
	height: 33rem;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	&__arrow {
		position: absolute;
		top: 50%;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: transparent;
		cursor: pointer;
		transition: background-color 0.3s;

		&:focus {
			outline: none;
			border: 1px solid abstracts.$primary-color-80;
		}

		&:hover {
			background-color: abstracts.$primary-color-80;
		}

		width: 4rem;
		height: 4rem;
		padding: 1rem;
		background-color: abstracts.$primary-color;
		border-radius: 8px;
		color: abstracts.$primary-color-5;
		font-weight: 700;

		svg {
			width: 3rem;
			height: 1.7rem;
		}

		&--prev {
			left: 2rem;
			transform: translate(-50%, -50%);
		}
		&--next {
			right: 2rem;
			transform: translate(-50%, -50%);
		}
	}
}

.slide {
	// grid-column: 1/-1;
	// grid-row: 1/-1;
	// position: relative;
	// width: 70%;
	// margin: 0 auto;
	// opacity: 0;
	// z-index: 0;
	// transition: all 1s;
	position: absolute;
	top: 0;
	// width: 70%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: transform 1s;

	&__box {
		// grid-column: 1/2;
		// grid-row: 1/2;
		border: 3px solid abstracts.$primary-color;
		border-radius: 8px;
		padding: 3.2em 2rem;
		position: relative;
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		text-align: center;
	}

	&__text {
		font-size: 1.6rem;
	}

	&__quotes {
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
	}

	svg {
		width: 3.2rem;
		height: 2rem;
	}

	&__img {
		width: 9.7rem;
		height: 9.7em;
		border-radius: 50%;
		border: 3px solid abstracts.$primary-color;
		object-fit: cover;
		aspect-ratio: 1/1;
	}
}

.dots {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	// width: auto;
	margin-bottom: 3rem;
	&__dot {
		width: 1.7rem;
		height: 1.7rem;
		border-radius: 50%;
		border: transparent;
		background-color: abstracts.$primary-color-80;
		opacity: 0.5;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			opacity: 1;
		}
	}
}

.dots__dot--active {
	background-color: abstracts.$primary-color-80;
	opacity: 1;
}

.btn__box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.active-slide {
	opacity: 1;
	z-index: 1;
}

@media screen and (min-width: 768px) {
	.section__reviews {
		padding: base.$section-padding-medium;
		margin-bottom: 4rem;
	}

	.slider {
		margin-bottom: 3.5rem;
	}

	.slide__box {
		gap: 3.5rem;
	}

	.slide {
		padding: 3.5em 2.3rem;

		&__text {
			font-size: 1.7rem;
		}

		&__quotes {
			position: absolute;
			top: 3rem;
			left: 3rem;
		}

		&__img {
			width: 12rem;
			height: 12em;
		}
	}
}

@media screen and (min-width: 992px) {
	.section__reviews {
		padding: base.$section-padding-large;
		margin-bottom: 5rem;
	}

	.slide {
		padding: 3.5em 2.3rem;
	}
}
